MS_KITCHEN_DB_HOST=ms_kitchen_db
MS_KITCHEN_DB_PORT=5432
MS_KITCHEN_DB_USER=postgres
MS_KITCHEN_DB_PASSWORD=root
MS_KITCHEN_DB_NAME=ms_kitchen_db

RABBITMQ_HOST=rabbitmq
RABBITMQ_USERNAME=admin
RABBITMQ_PASSWORD=StrongPassword123
RABBITMQ_VIRTUAL_HOST=/

JWT_ISSUER=api_security
JWT_AUDIENCE=*
JWT_SECRET=DiplomadoMicroservicios2025SecretoJTWApiSecurity

OTEL_SERVICE_NAME=ms-kitchen-api
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://otel-collector:4318/v1/traces
